.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.Characteristic h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 50px 0;
    text-align: center;
}

.VChar {
    padding: 100px 0 0 0;
    background: #3a1a65;
}

.VChar .container {
    display: block;
    text-align: center;
}

.VChar .container h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 100px 0;
}

.VChar .container figure {
    height: 313px;
}

.CChar {
    padding: 100px 0;
}

.CChar .container {
    display: block;
    text-align: center;
}

.CChar .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 100px 0;
}

.CChar .game_control {
    display: flex;
    gap: 50px;
}

.CChar .game_control figure {
    position: relative;
    float: left;
    width: 50%;
}

.CChar .game_control figure img {
    width: 100%;
}

.CChar .game_control figure .scroll_gamecontrol_img {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.CChar .game_control figure .scroll_gamecontrol_img.active {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.CChar .game_control .game_control_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 431.25px;
}

.CChar .game_control .game_control_sub img {
    width: 120px;
    margin: 0 auto;
}

.CChar .game_control .game_control_sub h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.CChar .game_control .game_control_sub p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.CChar .game_control .game_control_sub a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.Controlhead {
    padding: 100px 0;
    background: url('../../public/images/Control_bg.jpeg')no-repeat top center/cover;
}

.Control .container {
    display: block;
}

.Controlhead .container figure img {
    width: 10%;
    filter: invert(100);
}

.Controlhead .container h2 {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px 0;
}

.Controlhead .container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.414;
    color: #ddd;
    margin: 0 0 50px 0;
}

.Controlhead .container .right {
    float: right;
    width: 50%;
}

.Controlhead .container .right figure img {
    width: 100%;
}

.ControlMain {
    padding: 100px 0;
}

.ControlMain .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 50px 0;
}

.ControlMain .container p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.414;
    margin: 0 0 100px 0;
}

.ControlMain .container .main_explain {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.ControlMain .container .main_explain div {
    width: 400px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.414;
    padding: 0 20px;
    text-align: left;
}

.ControlMain .container .main_explain div p {
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.ControlOption {
    background-color: #1f2640;
    color: #fff;
    padding: 100px 0;
}

.ControlOption .container h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 50px 0;
}

.ControlOption .container p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.414;
    margin: 0 0 20px 0;
}

.ControlOption .container span {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #fff;
    cursor: pointer;
}

.ControlOption .container strong {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
}

.ControlOption .container span.active strong {
    border-bottom: none;
    border-right: none;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

.ControlOption .container .ControlOptionInner .option01 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option01 .option01item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option01 .optionfigure01 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure01.png') no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option02 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option02 .option02item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option02 .optionfigure02 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure02.png')no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option03 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option03 .option03item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option03 .optionfigure03 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure03.png')no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option04 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option04 .option04item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option04 .optionfigure04 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure04.png')no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option05 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option05 .option05item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option05 .optionfigure05 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure05.png')no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option06 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option06 .option06item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option06 .optionfigure06 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure06.png')no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option07 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option07 .option07item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option07 .optionfigure07 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure07.png')no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option08 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option08 .option08item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option08 .optionfigure08 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure08.png')no-repeat center center/cover;
}


.ControlOption .container .ControlOptionInner .option09 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option09 .option09item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option09 .optionfigure09 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure09.png')no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option010 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option010 .option010item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option010 .optionfigure010 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure010.png')no-repeat center center/cover;
}


.ControlOption .container .ControlOptionInner .option011 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option011 .option011item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option011 .optionfigure011 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure011.png')no-repeat center center/cover;
}

.ControlOption .container .ControlOptionInner .option012 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.ControlOption .container .ControlOptionInner .option012 .option012item {
    width: 50%;
    margin: auto 0;
}

.ControlOption .container .ControlOptionInner .option012 .optionfigure012 {
    width: 50%;
    height: 450px;
    background: url('../../public/images/optionfigure012.png')no-repeat center center/cover;
}

.Control .IChar {
    padding: 100px 0;
}

.IChar .container {
    display: block;
    text-align: center;
}

.IChar .multi {
    display: flex;
}

.IChar .multi .multi_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 431.25px;
}

.IChar .multi .multi_sub img {
    width: 120px;
    margin: 0 auto;
}

.IChar .multi figure {
    position: relative;
    float: right;
    width: 50%;
}

.IChar .multi figure img {
    width: 100%;
}

.IChar .multi .multi_sub h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.IChar .multi .multi_sub p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.IChar .multi .multi_sub a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.IChar .multi .scroll_multi_img {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.IChar .multi figure .scroll_multi_img.active {
    top: 55%;
    opacity: 1;
    visibility: visible;
}

.Multihead {
    padding: 100px 0;
    background: url(../../public/images/Multi_bg.jpeg) no-repeat top center/cover;
}

.Multihead .container {
    display: block;
}

.Multihead .container figure img {
    width: 10%;
    filter: invert(100);
}

.Multihead .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #fff;
}

.Multihead .container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.414;
    color: #ddd;
}

.Multicontent .container .content {
    line-height: 1.414;
}

.Multicontent .container .content h2 {
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 50px 0;
}

.Multicontent .container .content p {
    font-size: 17px;
    font-weight: 500;
}

.Multicontent .container .content01 {
    display: flex;
    margin: 100px 0;
}

.Multicontent .container .content01 .content01inner {
    width: 50%;
    margin: auto 0;
}

.Multicontent .container .content01 figure {
    width: 50%;
    height: 400px;
    background: url('../../public/images/multi01.jpg') no-repeat center center/contain;
}

.Multicontent .container .content02 {
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 0;
}

.Multicontent .container .content02 .content02inner {
    width: 50%;
    margin: auto 0;
}

.Multicontent .container .content02 figure {
    width: 50%;
    height: 400px;
    background: url('../../public/images/multi02.jpg') no-repeat center center/contain;
}

.Multicontent .container .content03 {
    display: flex;
    margin: 100px 0;
}

.Multicontent .container .content03 .content03inner {
    width: 50%;
    margin: auto 0;
}

.Multicontent .container .content03 figure {
    width: 50%;
    height: 400px;
    background: url('../../public/images/multi03.jpg') no-repeat center center/contain;
}

.Multicontent .container .content04 {
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 0;
}

.Multicontent .container .content04 .content04inner {
    width: 50%;
    margin: auto 0;
}

.Multicontent .container .content04 figure {
    width: 50%;
    height: 400px;
    background: url('../../public/images/multi04.jpg') no-repeat center center/contain;
}

.Multicontent .container .content05 {
    display: flex;
    margin: 100px 0;
}

.Multicontent .container .content05 .content05inner {
    width: 50%;
    margin: auto 0;
}

.Multicontent .container .content05 figure {
    width: 50%;
    height: 400px;
    background: url('../../public/images/multi05.jpg') no-repeat center center/contain;
}

.MACChar .container {
    display: block;
    text-align: center;
}

.MACChar .container .macro {
    display: flex;
}

.MACChar .container .macro video {
    float: left;
    width: 50%;
}

.MACChar .container .macro_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 431.25px;
}

.MACChar .container .macro_sub img {
    width: 120px;
    margin: 0 auto;
    padding: 10px;
}

.MACChar .macro .macro_sub h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.MACChar .macro .macro_sub p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.MACChar .macro .macro_sub a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.Macrohead {
    padding: 100px 0;
    background: url('../../public/images/Macro_bg.jpeg')no-repeat top center/cover;
}

.Macrohead .container {
    display: block;
}

.Macrohead .container figure img {
    width: 120px;
    padding: 10px;
    filter: invert(100);
}

.Macrohead .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #fff;
}

.Macrohead .container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.414;
    color: #ddd;
}

.MacroMain {
    margin: 100px 0 0 0;
}

.MacroMain .container {
    display: block;
}

.MacroMain .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 50px 0;
    text-align: center;
    line-height: 1.414;
}

.MacroMain .container p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.414;
}

.MacroContent .container .MacroContentInner h2 {
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 50px 0;
}

.MacroContent .container .MacroContentInner p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.414;
}

.MacroContent .container .MacroContentInner .content1 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.MacroContent .container .MacroContentInner .content1 .content1inner {
    width: 50%;
    margin: auto 0;
}

.MacroContent .container .MacroContentInner .content1 .content1figure {
    width: 50%;
    height: 450px;
    background: url('../../public/images/macrofigure1.png')no-repeat center center/contain;
}

.MacroContent .container .MacroContentInner .content2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.MacroContent .container .MacroContentInner .content2 .content2inner {
    width: 50%;
    margin: auto 0;
}

.MacroContent .container .MacroContentInner .content2 .content2figure {
    width: 50%;
    height: 450px;
    background: url('../../public/images/macrofigure2.jpg')no-repeat center center/contain;
}

.MacroContent .container .MacroContentInner .content3 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.MacroContent .container .MacroContentInner .content3 .content3inner {
    width: 50%;
    margin: auto 0;
}

.MacroContent .container .MacroContentInner .content3 .content3figure {
    width: 50%;
    height: 450px;
    background: url('../../public/images/macrofigure3.jpg')no-repeat center center/contain;
}

.MacroContent .container .MacroContentInner .content4 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.MacroContent .container .MacroContentInner .content4 .content4inner {
    width: 50%;
    margin: auto 0;
}

.MacroContent .container .MacroContentInner .content4 .content4figure {
    width: 50%;
    height: 450px;
    background: url('../../public/images/macrofigure4.jpg')no-repeat center center/contain;
}

.MacroContent .container .MacroContentInner .content5 {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.MacroContent .container .MacroContentInner .content5 .content5inner {
    width: 50%;
    margin: auto 0;
}

.MacroContent .container .MacroContentInner .content5 .content5figure {
    width: 50%;
    height: 450px;
    background: url('../../public/images/macrofigure5.jpg')no-repeat center center/contain;
}

.MacroContent .container .MacroContentInner .content6 {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 100px 0;
}

.MacroContent .container .MacroContentInner .content6 .content6inner {
    width: 50%;
    margin: auto 0;
}

.MacroContent .container .MacroContentInner .content6 .content6figure {
    width: 50%;
    height: 450px;
    background: url('../../public/images/macrofigure6.jpg')no-repeat center center/cover;
}


.RChar {
    padding: 100px 0;
}

.RChar .container {
    display: block;
    text-align: center;
}

.RChar .reset {
    display: flex;
}

.RChar .reset .reset_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 431.25px;
}

.RChar .reset .reset_sub img {
    width: 120px;
    margin: 0 auto;
    padding: 10px;
}

.RChar .reset .reset_sub h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.RChar .reset .reset_sub p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.RChar .reset .reset_sub a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.RChar .reset video {
    float: right;
    width: 50%;
}

.Resethead {
    padding: 100px 0;
    background: url('../../public/images/Reset_bg.jpeg')no-repeat top center/cover;
}

.Resethead .container {
    display: block;
}

.Resethead .container figure img {
    width: 120px;
    padding: 10px;
    filter: invert(100);
}

.Resethead .container h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #fff;
}

.Resethead .container p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.414;
    color: #ddd;
}

.ResetMain .container {
    display: block;
}

.ResetMain .container .content1 {
    width: 50%;
    margin: auto 0;
}