.Game {
    padding: 75px;
}

.Game .container {
    display: block;
}

.Gametab .Tab {
    display: flex;
    justify-content: space-around;
}

.Gametab .Tab div {
    cursor: pointer;
    padding: 5px 0;
}